body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

#inputSection,
#resultSection {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
input,
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #5cb85c;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #4cae4c;
}

#results {
  margin-top: 20px;
  font-size: 1.2em;
  color: blue;
}
